Django>=3.1.5  # BSD
django-extensions>=3.1.0  # MIT
Markdown>=3.3.3  # BSD
pbr>=5.4.3  # Apache-2.0
Pygments>=2.4.2  # BSD
PyYAML>=5.3.0  # Apache-2.0
requests>=2.22.0  # Apache-2.0
ruamel.yaml>=0.16.5  # MIT
wheel>=0.36.0
