Django==3.2  # BSD
django-extensions==3.1.2  # MIT
Markdown==3.3.4  # BSD
pbr==5.5.1  # Apache-2.0
Pygments==2.8.1  # BSD
PyYAML==5.4.1  # Apache-2.0
requests==2.25.1  # Apache-2.0
ruamel.yaml==0.17.4  # MIT
wheel==0.36.2
