Django==5.0.3  # BSD
django-extensions==3.2.3  # MIT
Markdown==3.5.2  # BSD
pbr==6.0.0  # Apache-2.0
Pygments==2.17.2  # BSD
PyYAML==6.0.1  # Apache-2.0
requests>=2.31.0  # Apache-2.0
wheel==0.42.0
whitenoise==6.6.0
