{% extends "base.html" %}

{% block title %}
  <title>APIs Overview</title>
{% endblock %}

{% block main_content %}

  <h5>APIs summary </h5>
  <table class="table table-striped" width="100%">
    <thead>
      <tr>
        <th class="text-center" scope="col">API Version</th>
        <th class="text-center" scope="col">Release Date</th>
        <th class="text-center" scope="col">Spec</th>
        <th class="text-center" scope="col">Changes</th>
        <th class="text-center" scope="col">API Groups</th>
        <th class="text-center" scope="col">Resources</th>
        <th class="text-center" scope="col">Definitions</th>
        <th class="text-center" scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for AV, AD in APIS.items %}
        <tr>
          <td class="text-center" scope="row">{{ AV }}</td>
          <td class="text-center" scope="row">{{ AD.release_date }}</td>
          <td class="text-center"><a href="{% url 'download-spec' AV 'json' %}"><i class="fa fa-save"></i></a></td>
          <td class="text-center" scope="row">
            <a href="{% url 'full-history' AV  %}">Changes</a>
          </td>
          <td class="text-center">
            <a href="{% url 'list-groups' AV %}">{{ AD.groups }}</a>
          </td>
          <td class="text-center">
            <a href="{% url 'list-resources' AV 'all' %}">{{ AD.resources }}</a>
          </td>
          <td class="text-center">
            <a href="{% url 'list-definitions' AV 'all' %}">{{ AD.definitions }}</a>
          </td>
          <td class="text-center">
            <a href="{% url 'list-operations' AV 'all' %}">{{ AD.operations }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
