{% extends "base.html" %}
{% load i18n %}

{% block title %}
<title>{% translate "APIs Overview" %}</title>
{% endblock %}

{% block main_content %}

  <h5>{% translate "APIs summary" %} </h5>
  <table class="table table-striped" width="100%">
    <thead>
      <tr>
        <th class="text-center" scope="col">{% translate "API Version" %}</th>
        <th class="text-center" scope="col">{% translate "Release Date" %}</th>
        <th class="text-center" scope="col">{% translate "Spec" %}</th>
        <th class="text-center" scope="col">{% translate "Changes" %}</th>
        <th class="text-center" scope="col">{% translate "Features" %}</th>
        <th class="text-center" scope="col">{% translate "API Groups" %}</th>
        <th class="text-center" scope="col">{% translate "Resources" %}</th>
        <th class="text-center" scope="col">{% translate "Definitions" %}</th>
        <th class="text-center" scope="col">{% translate "Operations" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for AV, AD in APIS.items %}
        <tr>
          <td class="text-center" scope="row">{{ AV }}</td>
          <td class="text-center" scope="row">{{ AD.release_date }}</td>
          <td class="text-center"><a href="{% url 'download-spec' AV 'json' %}"><i class="fa fa-save"></i></a></td>
          <td class="text-center" scope="row"><a href="{% url 'full-history' AV  %}"><i class="fa fa fa-list"></i></a></td>
          <td class="text-center"><a href="{% url 'feature-gates' AV %}"><i class="fa fa-star-half-alt"></i></a></td>
          <td class="text-center">
            <a href="{% url 'list-groups' AV %}">{{ AD.groups }}</a>
          </td>
          <td class="text-center">
            <a href="{% url 'list-resources' AV 'all' %}">{{ AD.resources }}</a>
          </td>
          <td class="text-center">
            <a href="{% url 'list-definitions' AV 'all' %}">{{ AD.definitions }}</a>
          </td>
          <td class="text-center">
            <a href="{% url 'list-operations' AV 'all' %}">{{ AD.operations }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
