{% extends "base.html" %}

{% load i18n %}
{% load core_tags %}

{% block title %}
  <title>{% translate "Comparison" %}</title>
  <style>
    P {line-height: 1.2; margin-bottom: 2px;}
  </style>
{% endblock %}

{% block main_content %}

  <form id="compare" action="{% url 'compare-ops' %}" method="post"
      class="form-horizontal collapse">
    {% csrf_token %}

    <input id="id_ops1" type="hidden"/>
    <input id="id_ops2" type="hidden"/>

    <fieldset id="fieldSets">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="id_apis">
          {% translate "API Versions:" %}
        </label>
        <div class="col-md-5">
          <select class="form-control text-monospace" id="id_apis_1" name="api1">
            <option value="">---</option>
            {% for A in APIS %}
              <option value="{{ A }}" {% if API1 == A %} selected{% endif %}>
                 {{ A }}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-5">
          <select class="form-control text-monospace" id="id_apis_2" name="api2">
            <option value="">---</option>
            {% for A in APIS %}
              <option value="{{ A }}"{% if API2 == A %} selected{% endif %}>
                 {{ A }}
              </option>
            {% endfor %}
          </select>
        </div>

      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="id_groups">
          {% translate "API Groups:" %}
        </label>
        <div class="col-md-5">
          <select class="form-control" style="font-size: 120%; font-family: monospace;" id="id_groups_1" name="group1">
            <option value="">---</option>
            {% for G in GROUPS1 %}
              <option value="{{ G.name }}"{% if GRP1 == G.name%} selected{% endif %}>
                 {{ G.name }}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-5">
          <select class="form-control" style="font-size: 120%; font-family: monospace;" id="id_groups_2" name="group2">
            <option value="">---</option>
            {% for G in GROUPS2 %}
              <option value="{{ G.name }}"{% if GRP2 == G.name %} selected{% endif %}>
                 {{ G.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>

      {# Group Versions List #}
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="id_versions_1">
          {% translate "Group Versions:" %}
        </label>
        <div class="col-md-5">
          <select class="form-control" style="font-size: 120%; font-family: monospace;" id="id_versions_1" name="version1">
            <option value="">---</option>
            {% for V in VERSIONS1 %}
              <option value="{{ V }}"{% if VER1 == V %} selected{% endif %}>
                 {{ V }}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-5">
          <select class="form-control" style="font-size: 120%; font-family: monospace;" id="id_versions_2" name="version2">
            <option value="">---</option>
            {% for V in VERSIONS2 %}
              <option value="{{ V }}"{% if VER2 == V %} selected{% endif %}>
                 {{ V }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>

      {# Operations List #}
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="id_ops_1">
          {% translate "Operations:" %}
        </label>
        <div class="col-md-5">
          <select class="form-control" style="font-size: 120%; font-family: monospace;"  id="id_ops_1" name="op1">
            <option value="">---</option>
            {% for Res, Ops in OPERATIONS1.items %}
              {% for O in Ops %}
                <option value="{{ O.name }}"{% if OP1 == O.name%} selected{% endif %}>
                   {{ O.name }}
                </option>
              {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="col-md-5">
          <select class="form-control" style="font-size: 120%; font-family: monospace;" id="id_ops_2" name="op2">
            <option value="">---</option>
            {% for Res, Ops in OPERATIONS1.items %}
              {% for O in Ops %}
                <option value="{{ O.name }}"{% if OP2 == O.name%} selected{% endif %}>
                   {{ O.name }}
                </option>
                {% endfor %}
            {% endfor %}
          </select>
        </div>
      </div>
    </fieldset>

    <div class="row py-2 text-right">
      <div class="col">
        <button type="submit" style="width:110px;" class="form-control btn btn-primary">{% translate "Compare!" %}</button>
      </div>
    </div>
  </form>

  {% if RESULT %}
      <h4 align="center">{% translate "Comparison" %}
      <button class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#compare" aria-expanded="false"
        aria-controls="compare">
        <i class="fa fa-chevron-circle-down"></i>
      </button>
    </h4>

    <div class="row my-3 alert alert-secondary">
      <div class="col text-right">
        <var>{{ OP1 }}</var> 
        in <em>{{ API1 }}</em>
      </div>
      <div class="col-1 text-center">
        <i class="fa fa-exchange-alt"></i>
      </div>
      <div class="col text-left">
        <var>{{ OP2 }}</var>
        in <em>{{ API2 }}</em>
      </div>
    </div>

    {% if "IDENTICAL" in RESULT %}
      <table class="table" width="100%">
        <tr class="table-info">
          <td>{% translate "The two operations are <em>identical</em>!" %}</td>
        </tr>
      </table>
    {% else %}
      {% include "core/op-diff.html" %}
    {% endif %}

  {% endif %}

{% endblock %}

{% block javascript %}
<script>
$("#id_apis_1").change(function() {
  var api_version = $(this).find("option:selected").val();
  $.ajax({
    url: "/api/" + api_version.trim() + "/groups/",
    type: 'get',
    async: false,
    success : function(data) {
      $("#id_groups_1").empty();
      $("#id_groups_1").append($('<option>', {value: "", text: "---"}));
      $("#id_grps1").val("");

      $("#id_versions_1").empty();
      $("#id_versions_1").append($('<option>', {value: "", text: "---"}));
      $("#id_vers1").val("");

      $("#id_ops_1").empty();
      $("#id_ops_1").append($('<option>', {value: "", text: "---"}));
      $("#id_defs1").val("");

      $.each(data["groups"], function(i, item) {
        $("#id_groups_1").append($('<option>', {
          value: item.name,
          text: item.name,
        }));
        var v = $("#id_grps1").val();
        v += "," + item.name + "/" + item.name;
        $("#id_grps1").val(v);
      });
    }
  });
});

$("#id_apis_2").change(function() {
  var api_version = $(this).find("option:selected").val();
  $.ajax({
    url: "/api/" + api_version.trim() + "/groups/",
    type: 'get',
    async: false,
    success : function(data) {
      $("#id_groups_2").empty();
      $("#id_groups_2").append($('<option>', {value: "", text: "---"}));
      $("#id_grps2").val("");

      $("#id_versions_2").empty();
      $("#id_versions_2").append($('<option>', {value: "", text: "---"}));
      $("#id_vers2").val("");

      $("#id_ops_2").empty();
      $("#id_ops_2").append($('<option>', {value: "", text: "---"}));
      $("#id_defs2").val("");

      $.each(data["groups"], function(i, item) {
        $("#id_groups_2").append($('<option>', {
          value: item.name,
          text: item.name,
        }));
        var v = $("#id_grps2").val();
        v += "," + item.name + "/" + item.name;
        $("#id_grps2").val(v);
      });
    }
  });
});

$("#id_groups_1").change(function() {
  var api_version = $("#id_apis_1").find("option:selected").val();
  var group = $(this).find("option:selected").text();
  $.ajax({
    url: "/api/" + api_version.trim() + "/groups/" + group.trim() + "/versions/",
    type: 'get',
    async: false,
    success : function(data) {
      $("#id_versions_1").empty();
      $("#id_versions_1").append($('<option>', {value: "", text: "---"}));
      $("#id_vers1").val("");

      $("#id_ops_1").empty();
      $("#id_ops_1").append($('<option>', {value: "", text: "---"}));
      $("#id_defs1").val("");

      $.each(data["versions"], function(i, item) {
        $("#id_versions_1").append($('<option>', {
          value: item,
          text: item,
        }));
        var v = $("#id_vers1").val();
        v += "," + item;
        $("#id_vers1").val(v);
      });
    }
  });
});
$("#id_groups_2").change(function() {
  var api_version = $("#id_apis_2").find("option:selected").val();
  var group = $(this).find("option:selected").text();
  $.ajax({
    url: "/api/" + api_version.trim() + "/groups/" + group.trim() + "/versions/",
    type: 'get',
    async: false,
    success : function(data) {
      $("#id_versions_2").empty();
      $("#id_versions_2").append($('<option>', {value: "", text: "---"}));
      $("#id_vers2").val("");

      $("#id_ops_2").empty();
      $("#id_ops_2").append($('<option>', {value: "", text: "---"}));
      $("#id_defs2").val("");

      $.each(data["versions"], function(i, item) {
        $("#id_versions_2").append($('<option>', {
          value: item,
          text: item,
        }));
        var v = $("#id_vers2").val();
        v += "," + item;
        $("#id_vers2").val(v);
      });
    }
  });
});

$("#id_versions_1").change(function() {
  var api = $("#id_apis_1").find("option:selected").val();
  var group = $("#id_groups_1").find("option:selected").val();
  var version = $(this).find("option:selected").val();
  $.ajax({
    url: "/api/" + api.trim() + "/operations/",
    type: 'get',
    async: false,
    data: {
      "group": group,
      "version": version,
    },
    success : function(data) {
      $("#id_ops_1").empty();
      $("#id_ops_1").append($('<option>', {value: "", text: "---"}));
      $("#id_ops1").val("");

      var group_version = group + "/" + version;
      $.each(data["ops"][group_version], function(i, item) {
        $.each(item, function(k, v) {
          $("#id_ops_1").append($('<option>', {
            value: v.name,
            text: v.name,
          }));
          var v = $("#id_ops1").val();
          v += "," + v.name;
          $("#id_ops1").val(v);
        });
      });
    }
  });
});
$("#id_versions_2").change(function() {
  var api = $("#id_apis_2").find("option:selected").val();
  var group = $("#id_groups_2").find("option:selected").val();
  var version = $(this).find("option:selected").val();
  $.ajax({
    url: "/api/" + api.trim() + "/operations/",
    type: 'get',
    async: false,
    data: {
      "group": group,
      "version": version,
    },
    success : function(data) {
      $("#id_ops_2").empty();
      $("#id_ops_2").append($('<option>', {value: "", text: "---"}));
      $("#id_ops2").val("");
      var group_version = group + "/" + version;
      $.each(data["ops"][group_version], function(i, item) {
        $.each(item, function(k, v) {
          $("#id_ops_2").append($('<option>', {
            value: v.name,
            text: v.name,
          }));
          var v = $("#id_ops2").val();
          v += "," + v.name;
          $("#id_ops2").val(v);
        });
      });
    }
  });
});

</script>
{% endblock %}
