{% extends "base.html" %}

{% load core_tags %}

{% block title %}
  <title>History: {{ GROUP }}/{{ VERSION }} {{ NAME }}</title>
{% endblock %}

{% block main_content %}

<h4 align="center">History of <samp>{{ NAME|humanize_name }}</samp> (<code>{{ GROUP }}/{{ VERSION }}</code>)</h4>

  <div>
    {% for APIV, DIFFITEM in DIFFDATA.items %}
      <div class="card">
        <div class="card-header" id="heading-{{ APIV|slugify }}">
          <h3 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapse-{{ APIV|slugify }}" aria-controls="collapse-{{ APIV|slugify }}"
                aria-expanded="true">
              {{ APIV }}
            </button>
          </h3>
        </div> <!-- card-header -->

        <div id="collapse-{{ APIV|slugify }}" class="collapse" aria-labelledby="heading-{{ APIV|slugify }}">
          <div class="card-body">
            {% if DIFFITEM.status == "ADDED" %}
              <P>Added in this version.</P>
            {% elif DIFFITEM.status == "DELETED" %}
              <P>Removed in this version.</P>
            {% elif DIFFITEM.status == "CHANGED" %}
              {# The RESULT is rendered in the included template #}
              {% with DIFFITEM.changes as RESULT %}
                {% include "core/defdiff.html" %}
              {% endwith %}
            {% endif %}
          </div>  <!-- card-body -->
        </div>  <!-- colllapse-apiv -->
      </div> <!-- card -->
    {% endfor %}
  </div> <!-- accordion -->

{% endblock %}
