{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load core_tags %}

{% block title %}
  <title>{% translate "Definitions" %} | {{ API }}</title>
{% endblock %}

{% block main_content %}
{% get_current_language as LANG %}
  <div class="btn-toolbar pb-1 bg-light" role="toolbar" aria-label="Definition Toolbar"
      style="border-bottom-color:gray; border-bottom-style:solid; border-bottom-width: 1px; font-size:90%;">
    <label class="align-self-center"><i class="fa fa-circle text-danger"></i> =Alpha</label>&nbsp;
    <label class="align-self-center"><i class="fa fa-circle text-warning"></i> =Beta</label>&nbsp;
    <label class="align-self-center"><i class="fa fa-circle text-success"></i> =GA</label>
    <div class="input-group ml-auto">
      <input id="filterText" type="text" class="form-control" placeholder='{% translate "Filter" %}'
        aria-label="Filter" onkeydown="return tryFilter(event)">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="filter_defs()"><i class="fa fa-filter"></i></button>
        <button class="btn btn-outline-secondary" type="button" onclick="reset()">{% translate "Reset" %}</button>
      </div>
    </div>
  </div>

  <table id="defTable" class="table table-sm" width="100%">
    <thead>
      <tr class="table-active">
        <th style="width:20%">{% translate "Group/Version" %}
          <button type="button" class="btn" onclick="show_help('apigroup')">
            <i class="fa far fa-question-circle text-info"></i>
          </button>
        </th>
        <th>{% translate "Definitions" %}</th>
      </tr>
    </thead>
    <tbody style="font-family:monospace;">
      {% for G, DDICT in DEFINITIONS.items %}
        <tr>
          {% group_version G as GV %}
          <td style="word-break:break-word;">
            <code>{{ GV.0 }}/{{ GV.1 }}</code>
            <i class="fa fa-circle{% if "alpha" in G %} text-danger{% elif "beta" in G %} text-warning{% else %} text-success{% endif %}"></i>
          </td>
          <td style="word-break:break-word;">
            {# all items in the DDICT belong to the same group version #}
            {% for DNAME, DDATA in DDICT.items %}
              {% if DDATA|length == 5 %}
                {% dereference API GV.0 GV.1 DDATA.0 as LINK %}
                <a class="btn btn-outline-dark btn-sm mb-1 deflink" role="button" href="/{{ LANG }}{{ LINK.0 }}">{{ LINK.1 }}</a>
              {% else %}
                <div class="dropdown d-inline-block mb-1 deflink" data-def="{{ DNAME}} ">
                  <button class="btn btn-outline-dark btn-sm dropdown-toggle"
                      id="id-{{ DNAME }}"
                      type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ DNAME }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="id-{{ R.name }}">
                    {% for DEF in DDATA %}
                      {% dereference API GV.0 GV.1 DEF as LINK %}
                      <a class="dropdown-item" href="/{{ LANG }}{{ LINK.0 }}">{{ LINK.1 }}</a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">{% translate "No definition found" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascript %}

<script>
  function filter_defs() {
    var txt = $("#filterText").val().toLowerCase();
    $("a.deflink").each(function(index, ele) {
      var reftext = $(ele).text().toLowerCase();
      if (reftext.indexOf(txt) >= 0) {
        $(ele).addClass("d-inline-block").removeClass("d-none");
      } else {
        $(ele).addClass("d-none").removeClass("d-inline-block");
      }
    });
    $("div.deflink").each(function(index, ele) {
      var reftext = $(ele).attr("data-def").toLowerCase();
      if (reftext.indexOf(txt) >= 0) {
        $(ele).addClass("d-inline-block").removeClass("d-none");
      } else {
        $(ele).addClass("d-none").removeClass("d-inline-block");
      }
    });
    $("#defTable tbody").children().each(function(row, tr) {
      var td = $(tr).children().eq(1);
      var btns = $(td).children(".d-inline-block").length;
      if (btns == 0) {
        $(tr).addClass("d-none").removeClass("d-table-row");
      }
      else {
        $(tr).addClass("d-table-row").removeClass("d-none");
      }
    });
  }

  function reset() {
    $("#filterText").val("");
    filter_defs();
  }


  function tryFilter(evt) {
    evt = (evt) ? evt : ((window.event) ? window.event : "");
    var key = evt.keyCode? evt.keyCode : evt.which;
    if (key == 13) {
      filter_defs();
      return false
    }
    return true;
  }

</script>
{% endblock %}
