{% extends "base.html" %}

{% load static %}
{% load core_tags %}

{% block title %}
  <title>Definitions in {{ API }}</title>
{% endblock %}

{% block main_content %}

  <div class="btn-toolbar pb-3 bg-light justify-content-end" role="toolbar" aria-label="Definition Toolbar"
      style="border-bottom-color:gray; border-bottom-style:solid; border-bottom-width: 1px;">
    <div class="input-group">
      <input id="filterText" type="text" class="form-control" placeholder="Filter" aria-label="Filter">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="filter_defs()"><i class="fa fa-filter"></i></button>
        <button class="btn btn-outline-secondary" type="button" onclick="reset()">Reset</button>
      </div>
    </div>
  </div>

  <table id="defTable" class="table table-sm" width="100%">
    <thead>
      <tr class="table-active">
        <th style="width:20%">Group/Version
          <button type="button" class="btn" onclick="show_help('apigroup')">
            <i class="fa far fa-question-circle text-info"></i>
          </button>
        </th>
        <th>Definitions</th>
      </tr>
    </thead>
    <tbody style="font-family:monospace;">
      {% for G, DDICT in DEFINITIONS.items %}
        <tr>
          {% group_version G as GV %}
          <td style="word-break:break-word;">
            <code>{{ GV.0 }}/{{ GV.1 }}</code>
            <i class="fa fa-circle{% if "alpha" in G %} text-danger{% elif "beta" in G %} text-warning{% else %} text-success{% endif %}"></i>
          </td>
          <td style="word-break:break-word;">
            {# all items in the DDICT belong to the same group version #}
            {% for DNAME, DDATA in DDICT.items %}
              {% if DDATA|length_is:"1" %}
                {% dereference API GV.0 GV.1 DDATA.0 as LINK %}
                <a class="btn btn-outline-dark btn-sm mb-1 deflink" role="button" href="{{ LINK.0 }}">{{ LINK.1 }}</a>
              {% else %}
                <div class="dropdown d-inline-block mb-1 deflink" data-def="{{ DNAME}} ">
                  <button class="btn btn-outline-dark btn-sm dropdown-toggle"
                      id="id-{{ DNAME }}"
                      type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ DNAME }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="id-{{ R.name }}">
                    {% for DEF in DDATA %}
                      {% dereference API GV.0 GV.1 DEF as LINK %}
                      <a class="dropdown-item" href="{{ LINK.0 }}">{{ LINK.1 }}</a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No definition found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascript %}
<script>

function filter_defs() {
  var txt = $("#filterText").val().toLowerCase();
  $("a.deflink").each(function(index, ele) {
    var reftext = $(ele).text().toLowerCase();
    if (reftext.indexOf(txt) >= 0) {
      $(ele).addClass("d-inline-block").removeClass("d-none");
    } else {
      $(ele).addClass("d-none").removeClass("d-inline-block");
    }
  });
  $("div.deflink").each(function(index, ele) {
    var reftext = $(ele).attr("data-def").toLowerCase();
    if (reftext.indexOf(txt) >= 0) {
      $(ele).addClass("d-inline-block").removeClass("d-none");
    } else {
      $(ele).addClass("d-none").removeClass("d-inline-block");
    }
  });
  $("#defTable tbody").children().each(function(row, tr) {
    var td = $(tr).children().eq(1);
    var btns = $(td).children(".d-inline-block").length;
    if (btns == 0) {
      $(tr).addClass("d-none").removeClass("d-table-row");
    }
    else {
      $(tr).addClass("d-table-row").removeClass("d-none");
    }
  });
}

function reset() {
  $("#filterText").val("");
  filter_defs();
}

</script>
{% endblock %}
