{% load core_tags %}

  <dl class="row mt-2 mb-0">
    {# group version #}
    <dt class="col-3 col-md-2">Name:</dt>
    <dd class="col-9 col-md-10">
      {{ KIND }}
      {% if IS_RESOURCE %}  <span class="badge badge-info" style="vertical-align: super;">Resource</span>{% endif %}
        {% if "DEPRECATED" in DEFINITION.description|upper %}  <span class="badge badge-danger" style="vertical-align: super;">DEPRECATED</span>{% endif %}
    </dd>
    <dt class="col-3 col-md-2">Group/Version:</dt>
    <dd class="col-9 col-md-10">
      <code>{% if GROUP != "" %}{{ FULL_GROUP }}/{% endif %}{{ VERSION }}</code>
      <button type="button" class="btn" onclick="show_help('apiversion')">
        <i class="fa far fa-question-circle text-info"></i>
      </button>
    </dd>

    {# description #}
    <dt class="col-3 col-md-2">Description:</dt>
    <dd class="col-9 col-md-10">
      {% if DEFINITION.description %}
        {% markdown_html DEFINITION.description %}
      {% else %}
        &lt;No description&gt;
      {% endif %}
    </dd>
  </dl>

  {# Appears In#}
  {% if APPEARS_IN %}
  <div class="row px-3" style="font-weight: 700;">Appears In:</div>
  <div id="appears_in" class="row px-3 ml-2">
    <p id="appearsList" class="collapse col-12 p-0">
    {% for A in APPEARS_IN %}
      <a class="btn btn-outline-secondary btn-sm mb-1 mx-1" role="button"
          href="{% url 'view-definition' API A.group_name A.group_version A.name %}">{{ A.display }}</a>
    {% endfor %}
    </p>
    <p id="expandAppears" class="col-12 text-right">
      <button id="btnExpandAppears" type="button" class="btn btn-light btn-sm collapsed"
          data-toggle="collapse" data-target="#appearsList"
          aria-expanded="false" aria-controls="appearsList"></button>
    </p>

  </div>
  {% endif %}

  {# properties #}
  {% if DEFINITION.properties %}
    <div class="row px-3" style="font-weight: 700;">Properties:</div>
    <div id="tbl-properties" class="row px-3 ml-2">
      <table class="table table-sm table-striped" width="100%">
        <colgroup>
          <col style="min-width: max-content; width: 20%;" />
          <col style="word-break: break-word; width: 100%;"/>
        </colgroup>
        <thead>
          <tr class="table-active"r>
            <th>Field</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for PNAME, DATA in DEFINITION.properties|safedict %}
            {% escape_ref API DATA as DATA %}
            
            <tr {% if "*DEPRECATED*" in DATA.description|lower and PNAME != "metadata" %}class="table-danger"
                {% elif "Beta" in DATA.description|lower %}class="table-warning"
                {% elif "Alpha" in DATA.description|lower %}class="table-warning"
                {% endif %}>
              <td>
                <var>
                  {{ PNAME }}{% if PNAME in DEFINITION.required %}<span style="color:red;">*</span>{% endif %}
                </var>
                {% if PNAME == "resourceVersion" %}
                  <a type="button" class="btn p-0" onclick="show_help('resource-version')">
                    <i class="fa far fa-question-circle text-info"></i>
                  </a>
                {% elif PNAME == "uid" %}
                  <a type="button" class="btn p-0" onclick="show_help('uid')">
                    <i class="fa far fa-question-circle text-info"></i>
                  </a>
                {% endif %}
                <br>
                {% if DATA.type %}
                  {% if DATA.type == "array" %}
                    {% if DATA.items.REF %}
                      <code>array</code> of
                        <a class="btn btn-outline-dark btn-sm" role="button"
                           href="{{ DATA.items.REF.0 }}">{{ DATA.items.REF.1 }}</a>
                    {% else %}
                      <code>array</code> of <code>{{ DATA.items.type }}</code>
                    {% endif %}

                    {% patch_strategy DATA as PATCH_STRATEGY %}
                    {% if PATCH_STRATEGY %}
                    <br/>
                    <small><b>patch strategy:</b></small>  <samp>{{ PATCH_STRATEGY }}</samp>
                    {% endif %}

                    {% patch_merge_key DATA as PATCH_MERGE_KEY %}
                    {% if PATCH_MERGE_KEY %}
                    <br/>
                    <small><b>patch merge key:</b></small>  <samp>{{ PATCH_MERGE_KEY }}</samp>
                    {% endif %}

                    {% list_type DATA as LIST_TYPE %}
                    {% if LIST_TYPE %}
                    <br/>
                    <small><b>list type:</b></small>  <samp>{{ LIST_TYPE }}</samp>
                    {% endif %}

                    {% list_map_keys DATA as LIST_KEYS %}
                    {% if LIST_KEYS %}
                    <br/>
                    <small><b>list map keys:</b></small>  <samp>{{ LIST_KEYS }}</samp>
                    {% endif %}

                    {% map_type DATA as MAP_TYPE %}
                    {% if MAP_TYPE %}
                    <br/>
                    <small><b>map type:</b><small>  <samp>{{ MAP_TYPE }}</samp>
                    {% endif %}

                  {% else %}
                    <code>{{ DATA.type }}</code>
                  {% endif %}
                {% elif DATA.REF %}
                  <i class="fa fa-share-alt"></i>
                    <a class="btn btn-outline-dark btn-sm" role="button"
                           href="{{ DATA.REF.0 }}">{{ DATA.REF.1 }}</a>
                {% endif %}

                {% if 'default' in DATA %}
                  <br/>
                  <small><b>default</b></small>:
                  {% if DATA.type == "string" %}
                    <samp style="font-family:monospace;">"{{ DATA.default }}"</samp>
                  {% else %}
                    <samp style="font-family:monospace;">{{ DATA.default }}</samp>
                  {% endif %}
                {% endif %}

                {% if 'format' in DATA %}
                  <br/>
                  <small><b>format</b></small>: <samp>{{ DATA.format }}</samp>
                {% endif %}

                {% if 'minimum' in DATA %}
                  <br/>
                  <small><b>minimum</b></small>: <samp>{{ DATA.minimum }}</samp>
                {% endif %}

                {% if 'maximum' in DATA %}
                  <br/>
                  <small><b>maximum</b></small>: <samp>{{ DATA.maximum }}<samp>
                {% endif %}

                {% if 'enum' in DATA %}
                  {% if DATA.enum|length_is:"1" %}
                    <br/>
                    <small><b>const</b></small>: <samp>{{ DATA.enum.0 }}</samp>
                  {% else %}
                    <br/>
                    <small><b>choices</b></small>: [
                    {% for E in DATA.enum %}
                      <samp>"{{ E }}"</samp>{% if not forloop.last %}, {% endif %}
                    {%endfor %} 
                    ]
                  {% endif %}
                {% endif %}

                {# Support level related #}
                {% if "*DEPRECATED*" in DATA.description and PNAME != "metadata" %}
                  <br/>
                  <p class="text-danger"><strong>DEPRECATED</strong></p>
                {% elif "Beta" in DATA.description %}
                  <br/>
                  <p class="text-danger"><strong>Beta Feature</strong></p>
                {% elif "Alpha" in DATA.description %}
                  <br/>
                  <p class="text-danger"><strong>ALpha Feature</strong></p>
                {% endif %}

              </td>
              <td>
                {% markdown_html DATA.description %}
                {% if DATA.type == "array" %}
                  {% if DATA.items.description %}
                    <div><strong>Item description:</strong> {% markdown_html DATA.items.description %}</div>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# operations #}
  {% if OPERATIONS %}
    <div class="row px-3" style="font-weight: 700;">Operations:</div>
    <div class="row px-3 ml-2">
      {% for K, V in OPERATIONS.items %}
        <a class="btn btn-outline-secondary btn-sm mb-1 mx-1 text-monospace" role="button"
          href="{% url 'view-operation' API V %}">{{ K }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <form id="form-compare" action="{% url 'compare-defs' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="api1" value="{{ API }}" />
    <input type="hidden" id="form_api" name="api2" value="" />
    <input type="hidden" name="group1" value="{{ GROUP }}" />
    <input type="hidden" id="form_group" name="group2" value="" />
    <input type="hidden" name="version1" value="{{ VERSION }}" />
    <input type="hidden" id="form_version" name="version2" value="" />
    <input type="hidden" name="def1" value="{{ NAME }}" />
    <input type="hidden" name="def2" value="{{ NAME }}" />
  </form>
