{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load core_tags %}

{% block title %}
  <title>{% translate "Feature gates" %} | {{ API }}</title>
{% endblock %}

{% block main_content %}

  <table id="table" class="table table-sm table-bordered" width="100%">
    <thead>
      <tr class="table-active">
        <th>{% translate "Name" %}</th>
        <th>{% translate "Default" %}</th>
        <th>{% translate "Stage" %}</th>
        <th>{% translate "Since" %}</th>
        <th class="sorter-false" width="50%">{% translate "Description" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for NAME, DATA in FEATURES.items %}
        <tr>
          <td style="word-break:break-word;">
            <samp>{{ NAME }}</samp>
          </td>
          <td style="word-break:break-word;">
            <samp>{{ DATA.default }}</samp>
          </td>
          <td style="word-break:break-word;">
            <i class="fa fa-circle{% if DATA.stage == "Alpha" %} text-danger{% elif DATA.stage == "Beta"%} text-warning{% endif %}"></i>
            <samp>{{ DATA.stage }}</samp>
          </td>
          <td>{{ DATA.since }}</td>
          <td>{{ DATA.description|safe }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">{% translate "No Features Found" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script>
  $(document).ready(function() {
    $("#table").tablesorter({
      theme: "blue",
      widgets: ["filter"],
      widgetOptions : {
        filter_excludeFilter : {
          // target a column by class name or column index (zero-based)
          '.title': 'range',

          // separate multiple filter types using spaces
          2 : 'range notMatch exact'
        }
      }
    });
  });
</script>
{% endblock %}
