{% extends "base.html" %}

{% load static %}
{% load core_tags %}

{% block title %}
  <title>API groups in {{ API }}</title>
{% endblock %}

{% block main_content %}

  <table id="groupable" class="table table-sm" width="100%">
    <thead>
      <tr class="table-active">
        <th style="width:20%">Name
          <button type="button" class="btn" onclick="show_help('apigroup')">
            <i class="fa far fa-question-circle text-info"></i>
          </button>
        </th>
        <th>Display Name
          <i class="fa far fa-question-circle text-info" data-toggle="tooltip"
              title="The string to use as the 'apiVersion' when specifying a resource"></i>
        </th>
        <th>Versions</th>
      </tr>
    </thead>
    <tbody style="font-family:monospace;">
      {% for G in GROUPS %}
        <tr>
          <td style="word-break:break-word;">
            <samp>{{ G.name }}</samp>
          </td>
          <td style="word-break:break-word;">
            <samp>"{{ G.display }}"</samp>
          </td>
          <td style="word-break:break-word;">
            {% for V in G.versions %}
            <samp>{{ V }}</samp><i class="fa fa-circle{% if "alpha" in V %} text-danger{% elif "beta" in V %} text-warning{% else %} text-success{% endif %}"></i>
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No API groups found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascript %}
{% endblock %}
