{% load i18n %}
{% load core_tags %}

<table class="table table-borderless table-sm mb-0" width="100%">
  <tbody>
    {% if "P_ADDED" in RESULT %}
      <tr class="table-success">
        <td>
          <a data-toggle="collapse" href="#fieldsAdded" aria-expanded="false"
             aria-controls="fieldsAdded"><i class="far fa-plus-square"></i></a>
          {% translate "Parameters Added" %} <span class="badge badge-info" style="vertical-align: super;">{{ RESULT.P_ADDED|length }}</span>
        </td>
      </tr>
      <tr class="collapse" id="fieldsAdded">
        <td class="p-0">
          <ul>
          {% for A, D in RESULT.P_ADDED.items %}
            <li class="py-1"><var>{{ A }}</var>
              <a role="button" data-toggle="collapse" data-target="#added-{{ A }}" aria-expanded="false"
                  aria-controls="added-{{ A }}"> <i class="fa fw fa-chevron-circle-down"></i>
              </a>
              <div class="collapse row ml-2" id="added-{{ A }}">
                {% for PK, PV in D.items %}
                  <div class="col-lg-2 col-md-3 col-sm-4"><B>{{ PK }}:</B></div>
                  <div class="col-lg-10 col-md-9 col-sm-8">{% markdown_html PV %}</div>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}

    {% if "P_REMOVED" in RESULT %}
      <tr class="table-warning">
        <td>
          <a data-toggle="collapse" href="#fieldsRemoved" aria-expanded="false"
              aria-controls="fieldsRemoved"><i class="far fa-plus-square"></i></a>
          </a>
          {% translate "Parameters Removed" %} <span class="badge badge-danger" style="vertical-align: super;">{{ RESULT.P_REMOVED|length }}</span>
        </td>
      </tr>
      <tr class="collapse" id="fieldsRemoved">
        <td class="p-0">
          <ul>
          {% for R, D in RESULT.P_REMOVED.items %}
            <li class="py-1"><var>{{ R }}</var>
              <a role="button" data-toggle="collapse" data-target="#removed-{{ R }}" aria-expanded="false"
                  aria-controls="removed-{{ R }}"> <i class="fa fw fa-chevron-circle-down"></i>
              </a>
              <div class="collapse row ml-2" id="removed-{{ R }}">
                {% for PK, PV in D.items %}
                  <div class="col-lg-2 col-md-3 col-sm-4"><B>{{ PK }}:</B></div>
                  <div class="col-lg-10 col-md-9 col-sm-8">{% markdown_html PV %}</div>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}

    {% if "P_CHANGED" in RESULT %}
      <tr class="table-info">
        <td>
          <a data-toggle="collapse" href="#fieldsChanged" aria-expanded="false"
              aria-controls="fieldsChanged"><i class="far fa-plus-square"></i></a>
          {% translate "Parameters Changed" %} <span class="badge badge-info" style="vertical-align: super;">{{ RESULT.P_CHANGED|length }}</span>
        </td>
      </tr>
      <tr id="fieldsChanged" class="collapse">
        <td colspan="2" class="p-0">
          <ul>
            {% for K, V in RESULT.P_CHANGED.items %}
            <li class="py-1"><var>{{ K }}</var>
              <a role="button" data-toggle="collapse" data-target="#changed-{{ K }}" aria-expanded="false"
                  aria-controls="changed-{{ K }}"> <i class="fa fw fa-chevron-circle-down"></i>
              </a>
              <div class="collapse row" id="changed-{{ K }}">
                  <div class="row ml-2">
                    {% for KD in V.BEFORE.keys %}
                      {% with V0=V.BEFORE|member:KD V1=V.AFTER|member:KD %}
                        <div class="col-lg-2 col-md-3 col-sm-4"><B>{{ KD }}:</B></div>
                        <div class="col-lg-10 col-md-9 col-sm-8">{% rich_diff V0 V1 %}</div>
                      {% endwith %}
                    {% endfor %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endif %}

    {% if "CHANGED" in RESULT %}
      <tr class="table-info">
        <td>
          <a data-toggle="collapse" href="#opChanges" aria-expanded="false"
              aria-controls="opChanges"><i class="far fa-plus-square"></i></a>
          {% translate "Other Changes" %} <span class="badge badge-info">{{ RESULT.CHANGED |length }}</span>
        </td>
      </tr>
      <tr class="collapse" id="opChanges">
        <td class="p-0">
          <table class="table mb-0">
            <tbody>
          {% for D in RESULT.CHANGED %}
            {% for K, V in D.items %}
              <tr>
                <td>
                  <var>
                    {{ K }}
                  </var>
                </td>
                <td>
                  {% rich_diff V.BEFORE V.AFTER %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
            </tbody>
          <table>
        </td>
      </tr>
    {% endif %}

    {% if "DESCRIPTION" in RESULT %}
      <tr class="table-info">
        <td>
          <a data-toggle="collapse" href="#descChanges" aria-expanded="false"
              aria-controls="descChanges"><i class="far fa-plus-square"></i></a>
          {% translate "Description Changes" %} <span class="badge badge-info">{{ RESULT.DESCRIPTION|length }}</span>
        </td>
      </tr>
      <tr class="collapse" id="descChanges">
        <td class="p-0">
          <table class="table mb-0">
            <tbody>
          {% for D in RESULT.DESCRIPTION %}
            {% for K, V in D.items %}
              <tr>
                <td>
                  <var>
                    {{ K }}
                  </var>
                </td>
                <td>
                  {% markdown_html V %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
            </tbody>
          <table>
        </td>
      </tr>
    {% endif %}

  </tbody>
</table>

