{% extends "base.html" %}

{% load i18n %}
{% load core_tags %}

{% block title %}
  <title>{% translate "History" %} | {{ NAME }}</title>
<style>
p {
  margin-bottom: .2rem;
}
</style>
{% endblock %}

{% block main_content %}

<h4 align="center">{% translate "History" %}： <samp>{{ NAME }}</samp></h4>

<div>
  {% for APIV, DIFFITEM in DIFFDATA.items %}
    <div class="card">
      <div class="card-header p-2" id="heading-{{ APIV|slugify }}">
        <h5 class="mb-0">{{ APIV }}</h5>
      </div> <!-- card-header -->

      <div class="card-body p-2">
        {% if DIFFITEM.status == "ADDED" %}
          <div class="alert alert-success" role="alert">
            {% translate "Added in this version." %}
          </div>
        {% elif DIFFITEM.status == "DELETED" %}
          <div class="alert alert-danger" role="alert">
            {% translate "Removed in this version." %}
          </div>
        {% elif DIFFITEM.status == "CHANGED" %}
          {# The RESULT is rendered in the included template #}
          {% with DIFFITEM.changes as RESULT %}
            {% include "core/op-diff.html" %}
          {% endwith %}
        {% endif %}
      </div>  <!-- card-body -->
    </div> <!-- card -->
  {% empty %}
    <div class="alert alert-success" role="alert">
      {% translate "The operation has not changed between the specified versions." %}
    </div>
  {% endfor %}
</div>

{% endblock %}
