{% extends "base.html" %}
{% load static %}
{% load core_tags %}

{% block title %}
  <title>Operations: {{ VERSION }}</title>
{% endblock %}

{% block main_content %}
  <table class="mt-3 table table-sm">
    <thead>
      <tr class="table-secondary">
        <th width="90%">Operation</th>
        <th width="10%">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for OP in OPS %}
        <tr>
          <td style="word-break: break-word;">
            <var>{{ OP.name }}</var><br/>
                <span class="text-muted">{{ OP.description }}</span>
          </td>
          <td><a href="{% url 'view-operation' API OP.name %}">Details</a></td>
        </tr>
      {% empty %}
        <tr>
          <td>No operation found, something is wrong.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
