{% extends "base.html" %}

{% load core_tags %}

{% block title %}
  <title>Operation: {{ API }} - {{ OP.operationId }}</title>
{% endblock %}

{% block main_content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"></a></li>
      <li class="breadcrumb-item">{{ API }}</li>
      <li class="breadcrumb-item"><a href='{% url "list-operations" API 'all' %}'>Operations</a></li>
      <li class="breadcrumb-item active">{{ OP.operationId }}</li>
    </ol>
  </nav>

  <dl class="row">
    {# Description #}
    <dt class="col-md-2 col-sm-3">Description:
    </dt>
    <dd class="col-md-10 col-sm-9" style="word-break:break-word;">
      {% if OP.description %}
        {% markdown_html OP.description %}
      {% else %}
        &lt;N/A&gt;
      {% endif %}
    </dd>
  </dl>

  {# other versions #}
  <div class="row px-3" style="font-weight: 700;">Other Versions:</div>
  {% if not VERSIONS %}
    <div id="versions" class="row px-3 ml-2">None</div>
  {% else %}
    <div id="versions" class="row px-3 ml-2">
      <div id="versionList" class="collapse col-12 p-0">
        <div class="row col-12">
          {% for AV in VERSIONS %}
            <div class="input-group input-group-sm col-lg-2 col-md-3 col-sm-4 col-6 px-2 mb-2">
              <input type="text" class="form-control" value="{{ AV }}" readonly />
              <div class="input-group-append">
                <a class="btn btn-outline-secondary"
                   href="{% url 'view-operation' AV OP.operationId %}"><i class="fa fa-eye"></i></a>
                <a class="btn btn-outline-secondary" href="#" onclick="compareOp('{{ AV }}')" >
                  <i class="fa fa-exchange-alt"></i>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="expandVersions" class="col-12 text-right">
        <button id="btnExpandVersions" type="button" class="btn btn-light btn-sm collapsed"
            data-toggle="collapse" data-target="#versionList"
            aria-expanded="false" aria-controls="versionList">
        </button>
      </div>
    </div>
  {% endif %} <!-- othere versions -->

  <dl class="row">
    <dt class="col-md-2 col-sm-3">Verb:
      <a type="button" class="btn p-0" onclick="show_help('verbs')">
        <i class="fa far fa-question-circle text-info"></i>
      </a>
    </dt>
    <dd class="col-md-10 col-sm-9" style="word-break:break-word;">
      <strong>{{ OP.verb|upper }}</strong>
      {% if OP.verb|upper == "DELETE" %}
        <a type="button" class="btn p-0" onclick="show_help('deletion')">
          <i class="fa far fa-question-circle text-info"></i>
        </a>
      {% endif %}
    </dd>

    {# Path and Path Parameters #}
    <dt class="col-md-2 col-sm-3">Path:
      <a type="button" class="btn p-0" onclick="show_help('path')">
        <i class="fa far fa-question-circle text-info"></i>
      </a>
    </dt>
    <dd class="col-md-10 col-sm-9" style="word-break:break-word;">
      <p><code> {{ OP.path}}</code></p>
      {% if PATH %}
        <table class="table table-sm table-striped mb-0 mt-2">
          <tr class="table-secondary"><td colspan="3">Params<td></tr>
          {% for P in PATH %}
            <tr>
              <td style="min-width:100px;"><samp>{{ P.name }}</samp>
                {% if P.name == "name" %}
                  <a type="button" class="btn p-0"
                    onclick="show_help('name')">
                    <i class="fa far fa-question-circle text-info"></i>
                  </a>
                {% endif %}
              </td>
              <td style="min-width:100px;"><code>{{ P.type }}</code></td>
              <td style="word-break:break-word;">{{ P.description }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </dd>

    {# Schemes #}
    <dt class="col-md-2 col-sm-3">Schemes:</dt>
    <dd class="col-md-10 col-sm-9 text-uppercase">
      <var>{{ OP.schemes|safeseq|join:", " }}</var>
    </dd>

    {# Tags #}
    <dt class="col-md-2 col-sm-3">Tags:</dt>
    <dd class="col-md-10 col-sm-9">
      <var>{{ OP.tags|safeseq|join:", " }}<var>
    </dd>

    {# Consumes #}
    {% if OP.consumes %}
      <dt class="col-md-2 col-sm-3">Consumes:
        <a type="button" class="btn p-0"
          onclick="show_help('content-type')">
          <i class="fa far fa-question-circle text-info"></i>
        </a>
      </dt>
      <dd class="col-md-10 col-sm-9">
        <var>{{ OP.consumes|safeseq|join:", " }}</var>
      </dd>
    {% endif %}

    {# Produces #}
    {% if OP.produces %}
      <dt class="col-md-2 col-sm-3">Produces:
          <a type="button" class="btn p-0" onclick="show_help('apigroup-long')">
            <i class="fa far fa-question-circle text-info"></i>
          </a>
      </dt>
      <dd class="col-md-10 col-sm-9">
        <var>{{ OP.produces|safeseq|join:", " }}</var><br/>
        <em>(Note that <a href="#" onclick="show_help('protobuf')">
          <var>application/vnd.kubernetes.protobuf</var>
        </a> is a kubernetes specific content-type.)
        </em>
      </dd>
    {% endif %}

    {% if QUERY %}
    {# Query Parameters #}
    <dt class="col-md-2 col-sm-3">Query Parameters:</dt>
    <dd class="col-md-10 col-sm-9">
      <table class="table table-sm table-striped table-bordered mt-2">
        <thead>
          <tr class="table-secondary">
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          <tr>
        </thead>
        <tbody>
          {% for P in QUERY %}
          <tr>
            <td>
              <samp>{{ P.name }}</samp>
              {% if P.required %}<span style="color:orangered">*</span>{% endif %}
              {% if P.name == "dryRun" %}
                <a type="button" class="btn p-0" onclick="show_help('dry-run')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "exact" %}
                <a type="button" class="btn p-0" onclick="show_help('exact')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "export" %}
                <a type="button" class="btn p-0" onclick="show_help('export')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "labelSelector" %}
                <a type="button" class="btn p-0" onclick="show_help('label-selector')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "pretty" %}
                <a type="button" class="btn p-0" onclick="show_help('pretty')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "watch" %}
                <a type="button" class="btn p-0" onclick="show_help('watch')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "allowWatchBookmarks" %}
                <a type="button" class="btn p-0" onclick="show_help('watch-bookmark')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "resourceVersion" %}
                <a type="button" class="btn p-0" onclick="show_help('resource-version')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% elif P.name == "limit" or P.name == "continue" %}
                <a type="button" class="btn p-0" onclick="show_help('pagination')">
                  <i class="fa far fa-question-circle text-info"></i>
                </a>
              {% endif %}
            </td>
            <td style="min-width:100px;"><code>{{ P.type }}</code></td>
            <td>{% markdown_html P.description %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </dd>
    {% endif %}

    {% if BODY %}
    {# Body #}
    <dt class="col-md-2 col-sm-3">Body:</dt>
    <dd class="col-md-10 col-sm-9">
      {% if BODY.0.schema.type == "array" %}
        {% escape_ref API BODY.0.schema.items as TARGET %}
        [<code>{{ TARGET.REF|safe }}</code>]
      {% else %}
        {% escape_ref API BODY.0.schema as TARGET %}
        <a class="btn btn-outline-dark btn-sm" role="button"
             href="{{ TARGET.REF.0 }}">{{ TARGET.REF.1 }}</a>

      {% endif %}
    </dd>
    {% endif %}

    {% if OP.responses %}
    <dt class="col-md-2 col-sm-3">Responses:</dt>
    <dd class="col-md-10 col-sm-9">
      <table class="table table-sm table-striped table-bordered mt-2">
        <thead>
          <tr class="table-secondary">
            <th style="width: 15%;">Status</th>
            <th style="width: 15%;">Description</th>
            <th>Response</th>
          </tr>
        </thead>
        <tbody>
          {% for key, data in OP.responses.items %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ data.description|default:"no description" }}</td>
            <td>
            {% if data.schema %}
              {% escape_ref API data.schema as RESP %}
              <a class="btn btn-outline-dark btn-sm" role="button"
                   href="{{ RESP.REF.0 }}">{{ RESP.REF.1 }}</a>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </dd>
    {% endif %}

  </dl>

  {% if OP.extensions %}
    <div class="card" style="width: 100%;">
      <h5 class="card-header">Extensions</h5>
      <div class="card-body p-0">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
          {% for K, V in OP.extensions.items %}
            <tr>
              <td style="font-family: monospace;"> {{ K }}</td>
              <td style="font-family: monospace;"> {{ V }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div> <!-- card-body -->
    </div>  <!-- card -->
  {% endif %}

  <form id="form-compare-op" action="{% url 'compare-ops' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="api1" value="{{ API }}" />
    <input type="hidden" id="form_api" name="api2" value="" />
    <input type="hidden" name="op1" value="{{ OP.operationId }}" />
  </form>

{% endblock %}

{% block javascript %}
<script>
  window.onresize = function(ev) {
    toggleExpandButtons();
  };
  $("document").ready(function() {
    toggleExpandButtons();
  });

  function toggleExpandButtons() {
    var height = $("#versionList").prop("scrollHeight");
    if (parseInt(height) > 39) {
      $("#btnExpandVersions").removeClass("d-none").addClass("d-unset");
    }
    else {
      $("#btnExpandVersions").removeClass("d-unset").addClass("d-none");
    }
  }

  function compareOp(api) {
    $("#form_api").val(api);
    $("#form-compare-op").submit();
  }
</script>
{% endblock %}
