{% extends "base.html" %}

{% load core_tags %}
{% load static %}

{% block title %}
  <title>Definition: {{ API }} - {{ KIND }}</title>
  <link rel="stylesheet" href="{% static 'css/jstree-3.2.1.min.css' %}">
  <style>
    P {line-height: 1.2; }
  </style>
{% endblock %}

{% block main_content %}

  <div class="btn-toolbar pb-3 bg-light" role="toolbar" aria-label="Definition Toolbar"
      style="border-bottom-color:gray; border-bottom-style:solid; border-bottom-width: 1px;">

    <div class="btn-group-toggle mr-2" data-toggle="buttons">
      <button id="btnTree" class="btn btn-outline-primary" type="button" href="#" data-toggle="collapse"
          data-target="#schema_tree" aria-controls="schema_tree" aria-expanded="false"
          aria-label="Toggle navigation">
         <i class="fas fa-fw fa-project-diagram"></i>
      </button>
    </div>

    <!-- Switch to -->
    <div class="btn-group-toggle mr-2" data-toggle="buttons">
      <a id="btnSwitchTo" type="button" class="btn btn-outline-secondary"
          data-toggle="collapse" data-target="#divSwitchTo" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-eye"></i>
      </a>
    </div>

    <!-- Compare -->
    <div class="btn-group-toggle mr-2" data-toggle="buttons">
      <a id="btnCompare" type="button" class="btn btn-outline-secondary"
          data-toggle="collapse" data-target="#divCompare" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-equals" aria-hidden="true"></i>
      </a>
    </div>

    <!-- try -->
    <a id="btnTry" class="btn btn-outline-info" type="button"
        data-toggle="tooltip" title="View definition in YAML code editor"
        href="{% url 'try-resource' API GROUP VERSION NAME %}">
      <i class="fas fa-fw fa-code"></i>
    </a>
  </div>

  {# div for switch #}
  <div id="divSwitchTo" class="collapse px-1 bg-light" aria-labelledby="btnSwitchTo"
    style="border-bottom-color:gray; border-bottom-style:solid; border-bottom-width: 1px;">
    <div class="row px-2" z-index="3">
      <p class="col-12 my-2 px-1">Switch to another version of this definition:</p>
      {% for AV, VLIST in VERSIONS.items %}
        {% for V in VLIST %}
          {% if V.group %}
            {% dereference AV V.group V.version NAME as LINK %}
          {% else %}
            {% dereference AV "*" "*" NAME as LINK %}
          {% endif %}
          <a class="btn btn-secondary btn-sm mx-1 my-1" role="button" href="{{ LINK.0 }}">
            {{ AV }}: {% if V.group %}{{ V.group }}/{{ V.version}}{% else %}*/*{% endif %}
          </a>
        {% endfor %}
      {% empty %}
        <a class="disabled" href="#">No other version found!</a>
      {% endfor %}
    </div>
  </div>

  <div id="divCompare" class="collapse px-1 bg-light" aria-labelledby="btnCompare"
    style="border-bottom-color:gray; border-bottom-style:solid; border-bottom-width: 1px;">
    <div class="row px-2">
      <p class="col-12 my-2 px-1">Choose another version of this definition for comparison:</p>
      {% for AV, VLIST in VERSIONS.items %}
        {% for V in VLIST %}
          {% if V.group %}
            {% dereference AV V.group V.version NAME as LINK %}
          {% else %}
            {% dereference AV "*" "*" NAME as LINK %}
          {% endif %}
          <a class="btn btn-secondary btn-sm mx-1 my-1" role="button" href="#"
            {% if V.group %}
              onclick="compare('{{ AV }}', '{{ V.group }}', '{{ V.version}}')">
              {{ AV }}: {{ V.group }}/{{ V.version}}</a>
            {% else %}
              onclick="compare('{{ AV }}', '*', '*')">
              {{ AV }}: */*</a>
            {% endif %}
          </a>
        {% endfor %}
      {% empty %}
        <a class="disabled" href="#">No other version found!</a>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div id="schema_tree" class="col-md-6 col-sm-8 col-lg-4 collapse"
        style="border-right-color:gray; border-right-style:solid; border-right-width: 1px; overflow-x: scroll;"></div>
    <div id="schema_data" class="col">
      {% include "core/definition.html" %}
    </div>
  </div>

{% endblock %}

{% block javascript %}
<!-- for jstree navigation -->
<script src="{% static 'js/jstree-3.2.1.min.js' %}"></script>
{{ JSON|json_script:"def-data" }}

<script>
  function compare(api, gn, gv) {
    $("#form_api").val(api);
    $("#form_group").val(gn);
    $("#form_version").val(gv);
    $("#form-compare").submit();
  }

  $(function () {
    var value = JSON.parse(document.getElementById('def-data').textContent);
    $('#schema_tree').jstree(
      {
        "core": {
          "data": value,
          "animation": 0,
          "check_callback": true,
        },
        "plugins": ["wholerow"]
      }
    );
  });

  $('#schema_tree').on("select_node.jstree", function (e, data) {
    var href = data.node.a_attr.href;
    if (href === '#')
      return '';

    location.href = "/apis/definition/" + href + "/";
  });

  $("#divSwitchTo").on("show.bs.collapse", function() {
    $("#divCompare").collapse("hide");
    $("#btnCompare").removeClass("active");
  });
  $("#divCompare").on("show.bs.collapse", function() {
    $("#divSwitchTo").collapse("hide");
    $("#btnSwitchTo").removeClass("active");
  });

</script>
{% endblock %}
