{% extends "base.html" %}

{% load core_tags %}

{% block title %}
  <title>Definition: {{ API }} - </title>
  <style>
    P {line-height: 1.2; }
  </style>
{% endblock %}

{% block main_content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"></a></li>
      <li class="breadcrumb-item">{{ API }}</li>
      <li class="breadcrumb-item"><a href='{% url "list-definitions" API "all" %}'>Definitions</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ KIND }}
        {% if IS_RESOURCE %}  <span class="badge badge-info" style="vertical-align: super;">Resource</span>{% endif %}
        {% if "DEPRECATED" in DEFINITION.description %}  <span class="badge badge-danger" style="vertical-align: super;">DEPRECATED</span>{% endif %}
      </li>
    </ol>
  </nav>

  <dl class="row mt-2 mb-0">
    {# group version #}
    <dt class="col-3 col-md-2">Group/Version:</dt>
    <dd class="col-9 col-md-10">
      <code>{% if GROUP != "" %}{{ GROUP }}/{% endif %}{{ VERSION }}</code>
    </dd>

    {# description #}
    <dt class="col-3 col-md-2">Description:</dt>
    <dd class="col-9 col-md-10">
      {% if DEFINITION.description %}
        {% markdown_html DEFINITION.description %}
      {% else %}
        &lt;No description&gt;
      {% endif %}
    </dd>
  </dl>

  {# Appears In#}
  {% if APPEARS_IN %}
  <div class="row px-3" style="font-weight: 700;">Appears In:</div>
  <div id="appears_in" class="row px-3 ml-2">
    <p id="appearsList" class="collapse col-12 p-0">
    {% for A in APPEARS_IN %}
      <a class="btn btn-outline-secondary btn-sm mb-1 mx-1" role="button"
          href="{% url 'view-definition' API A.group_name A.group_version A.name %}">{{ A.display }}</a>
    {% endfor %}
    </p>
    <p id="expandAppears" class="col-12 text-right">
      <button id="btnExpandAppears" type="button" class="btn btn-light btn-sm collapsed"
          data-toggle="collapse" data-target="#appearsList"
          aria-expanded="false" aria-controls="appearsList"></button>
    </p>

  </div>
  {% endif %}

  {# other versions #}
  <div class="row px-3" style="font-weight: 700;">Other Versions:</div>
  {% if not VERSIONS %}
    <div id="versions" class="row px-3 ml-2">None</div>
  {% else %}
    <div id="versions" class="row px-3 ml-2">
      <div id="versionList" class="collapse col-12 p-0">
        <div class="row col-12">
          {% for AV, VLIST in VERSIONS.items %}
            {% for V in VLIST %}
              {% if V.group %}
                {% dereference AV V.group V.version NAME as LINK %}
              {% else %}
                {% dereference AV "*" "*" NAME as LINK %}
              {% endif %}
              <div class="input-group input-group-sm col-lg-4 col-md-6 col-sm-12 px-2 mb-2">
                <div class="input-group-prepend">
                  <label class="input-group-text">{{ AV }}</label>
                </div>
                <input type="text" class="form-control"
                    {% if V.group %}
                      value="{{ V.group }}/{{ V.version}}"
                    {% else %}
                      value="*/*"
                    {% endif %}
                    readonly />
                <div class="input-group-append">
                  <a class="btn btn-outline-secondary" href="{{ LINK.0 }}"><i class="fa fa-eye"></i></a>
                  <a class="btn btn-outline-secondary" href="#"
                      {% if V.group %}
                        onclick="compare('{{ AV }}','{{ V.group }}','{{ V.version }}')"
                      {% else %}
                        onclick="compare('{{ AV }}','*','*')"
                      {% endif %} >
                    <i class="fa fa-exchange-alt"></i>
                  </a>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div id="expandVersions" class="col-12 text-right">
        <button id="btnExpandVersions" type="button" class="btn btn-light btn-sm collapsed"
            data-toggle="collapse" data-target="#versionList"
            aria-expanded="false" aria-controls="versionList">
        </button>
      </div>
    </div>
  {% endif %}

  {# properties #}
  {% if DEFINITION.properties %}
    <div class="row px-3" style="font-weight: 700;">Properties:
      {% if IS_RESOURCE %}
        &nbsp;&nbsp; &nbsp;<a class="btn-outline-info btn-sm"
          href="{% url 'try-resource' API GROUP VERSION NAME %}"> Try It!
        </a>
      {% endif %}
    </div>
    <div class="row px-3 ml-2">
      <table class="table table-sm table-striped" width="100%">
        <colgroup>
          <col style="min-width: max-content; width: 30%;" />
          <col style="word-break: break-word;"/>
        </colgroup>
        <thead>
          <tr class="table-active"r>
            <th>Field</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for PNAME, DATA in DEFINITION.properties|safedict %}
            {% escape_ref API DATA as DATA %}
            
            <tr {% if " deprecated " in DATA.description|lower %}class="table-danger"
                {% elif " beta " in DATA.description|lower %}class="table-warning"
                {% elif " alpha " in DATA.description|lower %}class="table-warning"
                {% endif %}>
              <td style="word-break:break-word;">
                <var>
                  {{ PNAME }}{% if PNAME in DEFINITION.required %}<span style="color:red;">*</span>{% endif %}
                </var>
                <br>
                {% if DATA.type %}
                  {% if DATA.type == "array" %}
                    {% if DATA.items.REF %}
                      <code>array</code> of
                        <a class="btn btn-outline-dark btn-sm" role="button"
                           href="{{ DATA.items.REF.0 }}">{{ DATA.items.REF.1 }}</a>
                    {% else %}
                      <code>array</code> of <code>{{ DATA.items.type }}</code>
                    {% endif %}

                    {% patch_strategy DATA as PATCH_STRATEGY %}
                    {% if PATCH_STRATEGY %}
                    <br/>
                    <small><b>patch strategy:</b></small>  <samp>{{ PATCH_STRATEGY }}</samp>
                    {% endif %}

                    {% patch_merge_key DATA as PATCH_MERGE_KEY %}
                    {% if PATCH_MERGE_KEY %}
                    <br/>
                    <small><b>patch merge key:</b></small>  <samp>{{ PATCH_MERGE_KEY }}</samp>
                    {% endif %}

                    {% list_type DATA as LIST_TYPE %}
                    {% if LIST_TYPE %}
                    <br/>
                    <small><b>list type:</b></small>  <samp>{{ LIST_TYPE }}</samp>
                    {% endif %}

                    {% list_map_keys DATA as LIST_KEYS %}
                    {% if LIST_KEYS %}
                    <br/>
                    <small><b>list map keys:</b></small>  <samp>{{ LIST_KEYS }}</samp>
                    {% endif %}

                    {% map_type DATA as MAP_TYPE %}
                    {% if MAP_TYPE %}
                    <br/>
                    <small><b>map type:</b><small>  <samp>{{ MAP_TYPE }}</samp>
                    {% endif %}

                  {% else %}
                    <code>{{ DATA.type }}</code>
                  {% endif %}
                {% elif DATA.REF %}
                  <i class="fa fa-share-alt"></i>
                    <a class="btn btn-outline-dark btn-sm" role="button"
                           href="{{ DATA.REF.0 }}">{{ DATA.REF.1 }}</a>
                {% endif %}

                {% if 'default' in DATA %}
                  <br/>
                  <small><b>default</b></small>:
                  {% if DATA.type == "string" %}
                    <samp style="font-family:monospace;">"{{ DATA.default }}"</samp>
                  {% else %}
                    <samp style="font-family:monospace;">{{ DATA.default }}</samp>
                  {% endif %}
                {% endif %}

                {% if 'format' in DATA %}
                  <br/>
                  <small><b>format</b></small>: <samp>{{ DATA.format }}</samp>
                {% endif %}

                {% if 'minimum' in DATA %}
                  <br/>
                  <small><b>minimum</b></small>: <samp>{{ DATA.minimum }}</samp>
                {% endif %}

                {% if 'maximum' in DATA %}
                  <br/>
                  <small><b>maximum</b></small>: <samp>{{ DATA.maximum }}<samp>
                {% endif %}

                {% if 'enum' in DATA %}
                  {% if DATA.enum|length_is:"1" %}
                    <br/>
                    <small><b>const</b></small>: <samp>{{ DATA.enum.0 }}</samp>
                  {% else %}
                    <br/>
                    <small><b>choices</b></small>: [
                    {% for E in DATA.enum %}
                      <samp>"{{ E }}"</samp>{% if not forloop.last %}, {% endif %}
                    {%endfor %} 
                    ]
                  {% endif %}
                {% endif %}

                {% if "DEPRECATED" in DATA.description %}
                  <br/>
                  <p class="text-danger"><strong>DEPRECATED</strong></p>
                {% endif %}

                {% if " beta " in DATA.description|lower %}
                  <br/>
                  <p class="text-danger"><strong>Beta Feature</strong></p>
                {% endif %}
              </td>
              <td>
                <div>{% markdown_html DATA.description %}</div>
                {% if DATA.type == "array" %}
                  {% if DATA.items.description %}
                    <div><strong>Item description:</strong> {% markdown_html DATA.items.description %}</div>
                  {% endif %}
                {% endif %}
                <div>

                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# operations #}
  {% if OPERATIONS %}
    <div class="row px-3" style="font-weight: 700;">Operations:</div>
    <div class="row px-3 ml-2">
      {% for K, V in OPERATIONS.items %}
        <a class="btn btn-outline-secondary btn-sm mb-1 mx-1 text-monospace" role="button"
          href="{% url 'view-operation' API V %}">{{ K }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <form id="form-compare" action="{% url 'compare-defs' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="api1" value="{{ API }}" />
    <input type="hidden" id="form_api" name="api2" value="" />
    <input type="hidden" name="group1" value="{{ GROUP }}" />
    <input type="hidden" id="form_group" name="group2" value="" />
    <input type="hidden" name="version1" value="{{ VERSION }}" />
    <input type="hidden" id="form_version" name="version2" value="" />
    <input type="hidden" name="def1" value="{{ NAME }}" />
    <input type="hidden" name="def2" value="{{ NAME }}" />
  </form>

{% endblock %}

{% block javascript %}
<script>
  window.onresize = function(ev) {
    toggleExpandButtons();
  };
  $("document").ready(function() {
    toggleExpandButtons();
  });

  function toggleExpandButtons() {
    var height = $("#appearsList").prop("scrollHeight");
    if (parseInt(height) > 35) {
      $("#btnExpandAppears").removeClass("d-none").addClass("d-unset");
    }
    else {
      $("#btnExpandAppears").removeClass("d-unset").addClass("d-none");
    }
    height = $("#versionList").prop("scrollHeight");
    if (parseInt(height) > 39) {
      $("#btnExpandVersions").removeClass("d-none").addClass("d-unset");
    }
    else {
      $("#btnExpandVersions").removeClass("d-unset").addClass("d-none");
    }
  }
  function compare(api, gn, gv) {
    $("#form_api").val(api);
    $("#form_group").val(gn);
    $("#form_version").val(gv);
    $("#form-compare").submit();
  }
</script>
{% endblock %}
