{% extends "base.html" %}

{% load core_tags %}
{% load static %}

{% block title %}
  <title>Definition: {{ API }} - </title>
  <link rel="stylesheet" href="{% static 'css/jstree-3.2.1.min.css' %}">
  <style>
    P {line-height: 1.2; }
  </style>
{% endblock %}

{% block main_content %}

  <nav class="navbar bg-light p-0" aria-label="breadcrumb">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#schema_tree" aria-controls="schema_tree" aria-expanded="false"
        aria-label="Toggle navigation">
       <i class="fa fa-bars"></i>
    </button>
  </nav>

  <div class="row">
    <div id="schema_tree" class="col-3 collapse"></div>
    <div id="schema_data" class="col">
      {% include "core/definition.html" %}
    </div>
  </div>

{% endblock %}

{% block javascript %}
<!-- for jstree navigation -->
<script src="{% static 'js/jstree-3.2.1.min.js' %}"></script>
{{ JSON|json_script:"def-data" }}

<script>
  window.onresize = function(ev) {
    toggleExpandButtons();
  };

  /*
  $("document").ready(function() {
    toggleExpandButtons();
  });
  */

  function toggleExpandButtons() {
    var height = $("#appearsList").prop("scrollHeight");
    if (parseInt(height) > 35) {
      $("#btnExpandAppears").removeClass("d-none").addClass("d-unset");
    }
    else {
      $("#btnExpandAppears").removeClass("d-unset").addClass("d-none");
    }
    height = $("#versionList").prop("scrollHeight");
    if (parseInt(height) > 39) {
      $("#btnExpandVersions").removeClass("d-none").addClass("d-unset");
    }
    else {
      $("#btnExpandVersions").removeClass("d-unset").addClass("d-none");
    }
  }
  function compare(api, gn, gv) {
    $("#form_api").val(api);
    $("#form_group").val(gn);
    $("#form_version").val(gv);
    $("#form-compare").submit();
  }
  function show_help(page) {
    $.ajax({
      url: "/help-page/" + page + "/",
      type: "get",
      async: false,
      success: function(data) {
        $("#help-modal-body").html(data);
      },
      error: function(jqxhr, textStatus, msg) {
        $("#help-modal-body").html("<p>" + textStatus + "</p>");
      }
    });
    $("#helpModal").modal();
  }

  $(function () {
    toggleExpandButtons();
    var value = JSON.parse(document.getElementById('def-data').textContent);
    $('#schema_tree').jstree(
      {
        "core": {
          "data": value,
          "check_callback": true,
        },
        "plugins": ["wholerow"]
      }
    );
  });

  $('#schema_tree').on("select_node.jstree", function (e, data) {
    var href = data.node.a_attr.href;
    if (href === '#')
      return '';

    $.ajax({
      url: "/apis/definition/" + href + "/",
      data: {
        partial: true,
      },
      success: function(resp) {
        $("#schema_tree").collapse("hide");
        $("#schema_data").html(resp);
      },
    });
  });
</script>
{% endblock %}
