{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>APIs</title>
  <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" -->
  <link rel="stylesheet" href="{% static 'css/jstree-3.2.1.min.css' %}">
{% endblock %}

{% block main_content %}

<div class="row">
  <div id="schema_tree" class="col-3"></div>
  <div id="schema_data" class="col">
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jstree-3.2.1.min.js' %}"></script>
{{ JSON|json_script:"def-data" }}
<script>

$(function () {
  var value = JSON.parse(document.getElementById('def-data').textContent);
  $('#schema_tree').jstree(
    {
      "core": {
        "data": value,
        "check_callback": true,
      },
      "plugins": ["wholerow"]
    }
  );
});

$('#schema_tree').on("select_node.jstree", function (e, data) {

  var href = data.node.a_attr.href;
  if (href === '#')
    return '';

  $.ajax({
    url: "/api/definition/" + href + "/",
    success: function(resp) {
      $("#schema_data").html(resp);
    },
  });
});

</script>
{% endblock %}
